In [ ]:
import pandas as pd
import plotly.express as px

# Load dataset
df=pd.read_csv("vehicles.csv")

### Data processing

In [ ]:
# Inspect the dataframe
df

In [ ]:
df.head(5)

In [ ]:
# Check for completeness
df.info()

In [ ]:
# Check numeric summary
df.describe()

In [ ]:
# Check categorical features
df.describe(include='object')

In [ ]:
# Unique count per column
df.nunique()

In [ ]:
# Check missing values count
df.isna().sum()

In [ ]:
# Remove duplicates
df = df.drop_duplicates()

In [ ]:
# Drop non informative columns
df = df.drop(columns=['url', 'region_url', 'image_url', 'description', 'id'])

In [ ]:
# Drop columns county and size with large number of missing values
df = df.drop(columns=['county','size'])

In [ ]:
# Drop missing rows in year,lat , long,fuel and transmission
# with less number of missing values
df = df.dropna(subset=['year','lat','long','fuel','transmission'])

In [ ]:
# Fill missing values with median for odometer
df['odometer'] = df['odometer'].fillna(df['odometer'].median())

In [ ]:
# Add 'unknown' category for missing values in categorical data
obj_cols = df.select_dtypes(include="object").columns
df[obj_cols] = df[obj_cols].fillna("unknown")

In [ ]:
# Filter unrealistic Data
df=df[df['price']>0]
df=df[df['odometer']>0]

### Univariate analysis

In [ ]:
df.describe()

In [ ]:
df[['manufacturer','model','region','transmission','fuel']].describe()

In [ ]:
# Distribution Plot of price (histogram and kde)
fig = px.histogram(df,x="price",nbins=50,marginal='box',title="Distribution of Vehicle Price")
fig.update_layout(xaxis_title="Vehicle Price (in $)",yaxis_title="Frequency",width=600,height=300)
#fig.update_xaxes(type="log")
fig.show()

In [ ]:
# Distribution of vehicle price
# box plot due to the presence of large outliers
# use log scale for better visibility
fig = px.box(df, x="price", title="Distribution of Vehicle Prices (Log Scale)")
fig.update_xaxes(type="log")
fig.update_layout(xaxis_title="Vehicle Price (in $)",width=600,height=300)
fig.show()

In [ ]:
# Filter the price less than 100000 and odometer less than 400000 
# for better result in the realistic range
df = df[(df['price']<100000)&(df['odometer']<400000)]

In [ ]:
df.describe(include='all').T

In [ ]:
# Distribution plot after filtering
fig = px.histogram(df,x="price",nbins=50,marginal='box',title="Distribution of Vehicle Price")
fig.update_layout(xaxis_title="Vehicle Price (in $)",yaxis_title="Frequency",width=600,height=300)
fig.show()

In [ ]:
# Distribution of Odometer
fig = px.histogram(df,x="odometer",nbins=50,marginal='box',title="Distribution of Odometer Reading")
fig.update_layout(xaxis_title="Odometer",yaxis_title="Frequency",width=600,height=300)
fig.show()

In [ ]:
# Manufacturer Popularity
# Count each manufacturer ,drop unknown category
count = df['manufacturer'].value_counts().drop("unknown")
# Find top 10 manufacturers by count
top10 = count.nlargest(10).index
# Filter the data to these manufacturers
df_top10 = df[df['manufacturer'].isin(top10)]
fig = px.histogram(
    df_top10, 
    x='manufacturer',
    title='Top 10 Manufacturers in Listings',
    color='manufacturer',
    text_auto=True
)
fig.update_layout(xaxis_title="Manufacturer",yaxis_title="Count",bargap=0.1,width=800,height=500)
fig.show()

### Bivariate analysis

In [ ]:
# Correlation matrix for price,year and odometer reading
# Compute the correlation matrix
correlation_matrix = df[['price','year','odometer']].corr()
# Plot the heatmap
fig = px.imshow(correlation_matrix, text_auto=True,
color_continuous_scale="Viridis",title="Correlation Matrix Heatmap",width=600,height=400)
fig.show()

In [ ]:
# Scatter plot showing relationship between price and odometer
fig = px.scatter(df, x='odometer', y='price', color='odometer',
title='Scatter Plot of Price vs Odometer')
fig.show()

In [ ]:
# How price varies with model year
# create a new DataFrame with two columns price and year
df_year_price = df[['year','price']]
# Group the DataFrame by year and calculate average price for each year
# Convert result into a new DataFrame with columns year and mean price
avg_year_price = df_year_price.groupby('year')['price'].mean().reset_index()
# Plot line graph of year and average price 
fig = px.line(avg_year_price,x='year',y='price',title='Average Vehicle Price by Model Year')
fig.update_layout(xaxis_title='Model Year',yaxis_title="Average Price (in $ )",width=600,height=300)
fig.show()

In [ ]:
# How avg price varies with brand
# create a new data frame with two columns price and manufacturer
df_brand_price = df[['price','manufacturer']]
# Group the DataFrame by manufacturer and calculate average price
# Convert result into a new DataFrame with columns manufacturer and average price
avg_brand_price = df_brand_price.groupby('manufacturer')['price'].mean().reset_index()
# Filter top 10 average price and brand
top10_avg_price = avg_brand_price.sort_values(by='price', ascending=False).head(10)
fig = px.histogram(
    top10_avg_price, 
    x='manufacturer',y='price',
    title='Top 10 Average Price by Manufacturers',
    color='manufacturer',
    text_auto=False
)
fig.update_layout(xaxis_title="Manufacturer",yaxis_title="Average Price($)",bargap=0.1,width=800,height=500)
fig.show()

In [ ]:
# Vehicle price distribution for various fuel types
fig = px.box(df, x="price",y="fuel",color="fuel",title="Fuel Type vs Vehicle Price")
fig.update_layout(xaxis_title="Vehicle Price (in $)",width=600,height=500)
fig.show()

In [ ]:
# Vehicle count for various fuel types
# Count the number of vehicles for each fuel type
fuel_counts = df['fuel'].value_counts().reset_index()
fuel_counts.columns = ['fuel','count']
# Create a bar chart to display the vehicle count for each fuel type
fig = px.bar(fuel_counts, x='fuel', y='count', title='Vehicle Count by Fuel Type',labels={'fuel': 'Fuel Type', 'count': 'Vehicle Count'},
    text='count')
# Show the figure
fig.show()

In [ ]:
# Average vehicle price in various states
# Group by state and calculate average price
df_state_price = df.groupby('state')['price'].mean().reset_index()
df_state_price.columns = ['state', 'average_price']
# Convert state code into uppercase
df_state_price['state'] = df_state_price['state'].str.upper()
# Create choropleth map
fig = px.choropleth(
    df_state_price,
    locations='state',
    locationmode='USA-states',
    color='average_price',
    hover_name='state',
    hover_data={'average_price': ':,.0f'},
    color_continuous_scale='Viridis',
    scope='usa',
    labels={'average_price': 'Average Price ($)'},
    title='Average Used Car Prices by State in USA'
)
# Update layout
fig.update_layout(
    geo=dict(
        showframe=False,
        showcoastlines=True,
    ),
    width=1000,
    height=600
)
fig.show()